dataset
.ipynb_checkpoints
*.jpg
*.png
rtsp.pid
__pycache__
test_code
sender-ignore.py
dataset.zip
rtsp-simple-server
yolov3-tiny_obj_best.weights
libdarknet.so.gpu
libdarknet.so.cpu
libdarknet.so.u20
*.pyc
libdarknet.so
anpr_mm/.vscode
code_tests/
tests/network
hidden-stuff